.wrapper{
    width: 1200px;
    margin: 0 auto;
    font-family: Arial;    
}
/* header */
#header{
    height: 175px;
}
#logo{
    height: 117px;
    width: 361px;
}
#nav{
	width: 1200px;
    position: relative;
    float: right;
}
#nav-list li{
    float: left;
    margin: 25px;
}
#nav-list{
	list-style: none;
}
#nav-list a{
	font-size: 18px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
hr{
    color: #676766;
    background-color: #676766;
    height: 6px;
    width: 1200px;
}

/* Main Content */
#info{
    margin-left: 30px;
}
#primerCuadro{
    background-color: #f5f3f3;
}
#segundoCuadro{
    background-color: #f5f3f3;
}

/* Universal */
h1{
    font-size: 18px;
    color: #9c0013;
    margin-left: 30px;
}
h2{
    font-size: 22px;
    color: #d3001c;
}
h3{
    font-size: 16px;
    color: #707070;
}
p{
    font-size: 14px;
    color: #666666;
}
#moreInfo a{
    font-size: 14px;
    color: #d3001c;
    text-decoration-style: none;    
}
/* More info */
#primerCuadro p{
    font-size: 14px;
    color: #313131;
}
#segundoCuadro p{
    font-size: 14px;
    color: #313131;
}

/* Footer */
#footer{
    background-color: #e2e0e0;
    height: 82px;
}
h4{
    color: #d3001c;
    font-size: 14px;
    margin-left: 367px;
}




